<%= form_for :reservation, url: reservations_path do |f| %>
  <div class="form-group">
    <%= f.label(:table_number, "Table number") %>
    <%= f.text_field :table_number, class:'form-control', placeholder:'Enter table number' %>
  </div>
 
  <div class="form-group">
    <%= f.label(:start_time, "Date and time of reservation") %>
    <%= f.date_field :start_time, class:'form-control', placeholder:'YYYY-MM-DD HH:MM:SS' %>
  </div>
  
  <div class="form-group">
    <%= f.label(:end_time, "Expected end date and time of reservation") %><br>
    <%= f.date_field :end_time, class:'form-control', placeholder:'YYYY-MM-DD HH:MM:SS' %>
  </div>
 
  <p>
    <%= f.button("Reserve a table", type:'submit', class:'btn btn-success') %>
    <%= link_to "Back to reservations", reservations_path, class:"btn btn-primary" %>
  </p>
<% end %>