<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="main-container" class="container">
	  <div class="row">
	    <div class="col-xs-6 col-sm-offset-5">	
	      <h3>Restaurant</h3>
	    </div>
	  </div>
	  <div class="row">
    	<div class="col-xs-6 col-sm-offset-3">
			<%= render 'layouts/alerts' %>
	        <%= yield %>
        </div>
	  </div>
	</div>

</body>
</html>
